<!-- Author: Cameron Block -->
@using System;
@using System.Collections.Generic;
@using System.Configuration;

@using AdHockey.Models;
@using AdHockey.Repositories;

@model User

@{
    ViewBag.Title = "Manage User";
}

@Scripts.Render("~/Scripts/jquery-ui-1.12.1.min.js")

<link href='@Url.Content("~/Content/themes/base/jquery-ui.css")' rel="stylesheet" type="text/css" />

<style>
    /* Scroll bar for the sql text. */
    .scroll-bar {
        width: 300px;
        height: 100px;
        overflow: scroll;
    }
</style>

<div class="jumbotron">
    <h1>Manage User</h1>
    <p class="lead">Create a new User. </p>
</div>

<div class="row">
    <!-- Left side. -->
    <div class="col-md-2">
        <ul id="links">
            <li><a href="@Url.Action("Index", "ManageBulkTemplate")">Manage Bulk Templates</a></li>
            <li><a href="@Url.Action("Index", "ManageLimiterItem")">Manage Limiter Templates</a></li>
            <li><a href="@Url.Action("Index", "ManageTemplate")">Manage Template</a></li>
            <li><a href="@Url.Action("Index", "ManageTemplateItem")">Template Item</a></li>
            <li><a href="@Url.Action("Index", "ManageReport")">Manage Reports</a></li>
            <li><a href="@Url.Action("Index", "ManageGroup")">Manage Reports</a></li>
            <li><a href="@Url.Action("Index", "ManageUser")">Manage Reports</a></li>
            <li><a href="@Url.Action("Index", "Home")">AdHoc Report</a></li>
        </ul>
    </div>

    <!-- Center. -->
    <div class="col-md-5">
        <div>
            <h2>Manage Group</h2>
            @using (Html.BeginForm("SubmitUser", "ManageUser", FormMethod.Post)) {
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-6">First Name: </label>
                        <div class="form-control-static col-sm-6">
                            @Html.TextBoxFor(user => user.FirstName, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-6">Last Name: </label>
                        <div class="form-control-static col-sm-6">
                            @Html.TextBoxFor(user => user.LastName, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-6">Email Address: </label>
                        <div class="form-control-static col-sm-6">
                            @Html.TextBoxFor(user => user.EmailAddress, new { @class = "form-control" })
                        </div>
                    </div>

                    <button id="btnSubmit" type="submit" class="btn btn-primary" value="SubmitUser">Submit</button>
                </form>
            }
        </div>
    </div>

    <!-- Right Side. -->
    <div class="col-md-5">
        <h2>Available Users</h2>
        <!-- Search Box Markup. -->
        <div class="form-group">
            <label class="control-label col-sm-2" for="txtUsrSearch">Search:</label>
            <div class="col-sm-6">
                @Html.TextBox("txtUsrSearch", null, new { @class = "form-control", @Value = (ViewBag.UserSearchStr != null ? ViewBag.UserSearchStr : "") })
            </div>
            <div class="col-sm-3 btn-group">
                <button type="button" class="btn btn-secondary form-control" onclick="ExecuteSearch(this)">Search</button>
            </div>
        </div>
        <button type="button" class="btn btn-secondary pull-right" onclick="location.href='@Url.Action("ClearSearch", "ManageUser")'">Clear Search</button>
        <script type="text/javascript">
            function ExecuteSearch(sender){
                var value = $('#txtUserSearch').val();
                var url = '@Url.Action("ExecuteSearch", "ManageUser")' + '\\?searchStr=' + value;
                window.location = url;
            }
            var availableTags = @using (UserRepository repo = new UserRepository()) {
                repo.BeginTransaction();
                List<String> userNames = repo.GetUserNames();
                @(Html.Raw(Json.Encode(userNames)));
            }
            $('#txtTmpSearch').autocomplte({
                source: availableTags
            });
        </script>
        <div id="tblTemplates" class="height: 100px;overflow-y: scroll;">
            @if (ViewBag.TemplatePage != null) {
                if (ViewBag.TemplatePage.Count > 0) {
                    <table id="tblTemplates" class="table table-striped">
                        <tr>
                            <th>Template Name</th>
                            <th>Ordering</th>
                            <th>Clr Type</th>
                            <th>Operations</th>
                        </tr>
                        @foreach (TemplateItem template in ViewBag.GroupPage) {
                            <tr>
                                <td>@template.TemplateName</td>
                                <td>@template.Order</td>
                                <td>@template.ClrType</td>
                                <td>@template.Alias</td>
                                <td>
                                    <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("RemoveUser", "ManageUser", new { templateId = template.TemplateId})'">Remove</button>
                                    <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("AddReport", "ManageUser", new { templateId = template.TemplateId})'">Add Report</button>
                                    <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("AddGroup", "ManageUser", new { templateId = template.TemplateId})'">Add Group</button>
                                </td>
                            </tr>
                        }
                    </table>
                }
            }
        </div>
        <div class="btn-group pull-right">
            <button type="submit" class="btn btn-primary" onclick="location.href='@Url.Action("TemplateFirstPage", "ManageTemplateItem")'">Begin</button>
            <button type="submit" class="btn btn-primary" onclick="location.href='@Url.Action("TemplatePreviousPage", "ManageTemplateItem")'">Previous</button>
            <button type="submit" class="btn btn-primary" onclick="location.href='@Url.Action("TemplateNextPage", "ManageTemplateItem")'">Next</button>
            <button type="submit" class="btn btn-primary" onclick="location.href='@Url.Action("TemplateLastPage", "ManageTemplateItem")'">Next</button>
        </div>
    </div>

</div>
