<!-- Author: Cameron Block -->
@model AdHockey.Models.ForegotPasswordViewModel

@{
    ViewBag.Title = "Foregot Password Confirmation";
}

<div class="jumbotron">
    <h1>Reset Password</h1>
    <p class="lead">Reset lost passwords. AdHockey reporting engine. </p>
</div>

@if (Model.EmailAddress != null) {
    using (Html.BeginForm("ConfirmPassword", "PasswordReset", new { @class = "form-horizontal" })) {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-5">
                <h2>Enter your new password. </h2>
                <h3>@Model.EmailAddress</h3>
                @Html.HiddenFor(Model => Model.EmailAddress)
                <div class="form-group">
                    @Html.LabelFor(model => model.PasswordA, new { @class = "control-label col-sm-3" })
                    <div class="col-sm-9 form-control-static">
                        @Html.PasswordFor(model => model.PasswordA, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PasswordA)
                    </div>

                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PasswordB, new { @class = "control-label col-sm-3" })
                    <div class="col-sm-9 form-control-static">
                        @Html.PasswordFor(model => model.PasswordB, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PasswordB)
                    </div>

                </div>
            </div>
        </div>
        <input type="submit" class="btn btn-primary" />
    }
}

