<!-- Author: Cameron Block -->
@using System;
@using System.Collections.Generic;
@using System.Configuration;

@using AdHockey.Models;
@using AdHockey.Repositories;

@model LimiterItem

@{
    ViewBag.Title = "Manage Limiter Item";
}

@Scripts.Render("~/Scripts/jquery-ui-1.12.1.min.js")

<link href='@Url.Content("~/Content/themes/base/jquery-ui.css")' rel="stylesheet" type="text/css" />

<style>
    /* Scroll bar for the sql text. */
    .scroll-bar {
        width: 300px;
        height: 100px;
        overflow: scroll;
    }
</style>

<div class="jumbotron">
    <h1>Manage Limiter Item</h1>
    <p class="lead">Create a new Limiter Item, used to set boolean template values. </p>
</div>

<div class="row">
    <!-- Left side. -->
    <div class="col-md-2">
        <ul id="links">
            <li><a href="@Url.Action("Index", "ManageBulkTemplate")">Manage Bulk Templates</a></li>
            <li><a href="@Url.Action("Index", "ManageLimiterItem")">Manage Limiter Templates</a></li>
            <li><a href="@Url.Action("Index", "ManageTemplateItem")">Template Item</a></li>
            <li><a href="@Url.Action("Index", "ManageReport")">Manage Reports</a></li>
            <li><a href="@Url.Action("Index", "ManageGroup")">Manage Groups</a></li>
            <li><a href="@Url.Action("Index", "ManageUser")">Manage Users</a></li>
            <li><a href="@Url.Action("Index", "Home")">AdHoc Report</a></li>
        </ul>
    </div>

    <!-- Center. -->
    <div class="col-md-5">
        <div>
            <h2>Manage Limiter Item</h2>
            @using (Html.BeginForm("SubmitTemplate", "ManageLimiterItem", FormMethod.Post)) {
                <form class="form-horizontal">
                    <!-- Template Name. -->
                    <div class="form-group">
                        <label class="control-label col-sm-6">Template Name: </label>
                        <div class="form-control-static col-sm-6">
                            @Html.TextBoxFor(li => li.TemplateName, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-6">Ordering: </label>
                        <div class="form-control-static col-sm-6">
                            @Html.TextBoxFor(li => li.Order, new { @class = "form-control" })
                        </div>
                    </div>

                    <button id="btnSubmit" type="submit" class="btn btn-primary" value="SubmitGroup">Submit</button>
                </form>
            }
        </div>
    </div>

    <!-- Right Side. -->
    <div class="col-md-5">
        <h2>Available Limiter Items</h2>
        <!-- Search Box Markup. -->
        <div class="form-group">
            <label class="control-label col-sm-2" for="txtLiSearch">Search:</label>
            <div class="col-sm-6">
                @Html.TextBox("txtLiSearch", null, new { @class = "form-control", @Value = (ViewBag.LiSearchStr != null ? ViewBag.LiSearchStr : "") })
            </div>
            <div class="col-sm-3 btn-group">
                <button type="button" class="btn btn-secondary form-control" onclick="ExecuteSearch(this)">Search</button>
            </div>
        </div>
        <button type="button" class="btn btn-secondary pull-right" onclick="location.href='@Url.Action("ClearSearch", "ManageLimiterItem")'">Clear Search</button>
        <script type="text/javascript">
            function ExecuteSearch(sender){
                var value = $('#txtLiSearch').val();
                var url = '@Url.Action("ExecuteSearch", "ManageLimiterItem")' + '\\?searchStr=' + value;
                window.location = url;
            }
            var availableTags = @using (LimiterItemRepository repo = new LimiterItemRepository()) {
                repo.BeginTransaction();
                List<String> liNames = repo.GetLimiterNames();
                @(Html.Raw(Json.Encode(liNames)));
            };
            $('#txtLiSearch').autocomplete({
                source: availableTags
            });
        </script>
        <div id="tblLimiterItem" class="height: 100px;overflow-y: scroll;">
                @if (ViewBag.LimiterItemPage != null) {
                    if (ViewBag.LimiterItemPage.Count > 0) {
                        <table id="tblLimiterItems" class="table table-striped">
                            <tr>
                                <th>Template Name</th>
                                <th>Ordering</th>
                                <th>Remove</th>
                            </tr>
                            @foreach (LimiterItem li in ViewBag.LimiterItemPage) {
                                <tr>
                                    <td>@li.TemplateName</td>
                                    <td>@li.Order</td>
                                    <td>
                                        <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("RemoveTemplate", "ManageLimiterItem", new { templateId = li.TemplateId })'">Remove</button>
                                    </td>
                                </tr>
                            }
                        </table>
                    }
                }
            </div>
        <div class="btn-group pull-right">
            <button type="submit" class="btn btn-primary" onclick="location.href='@Url.Action("LimiterItemFirstPage", "ManageLimiterItem")'">Begin</button>
            <button type="submit" class="btn btn-primary" onclick="location.href='@Url.Action("LimiterItemPreviousPage", "ManageLimiterItem")'">Previous</button>
            <button type="submit" class="btn btn-primary" onclick="location.href='@Url.Action("LimiterItemNextPage", "ManageLimiterItem")'">Next</button>
            <button type="submit" class="btn btn-primary" onclick="location.href='@Url.Action("LimiterItemLastPage", "ManageLimiterItem")'">Next</button>
        </div>
    </div>

</div>
