<!-- Author: Cameron Block -->
@using System;
@using System.Collections.Generic;
@using System.Configuration;

@using AdHockey.Models;
@using AdHockey.Repositories;

@model Synopsis

@{
    ViewBag.Title = "Manage Limiter Item";
}

@Scripts.Render("~/Scripts/jquery-ui-1.12.1.min.js")

<link href='@Url.Content("~/Content/themes/base/jquery-ui.css")' rel="stylesheet" type="text/css" />

<style>
    /* Scroll bar for the sql text. */
    .scroll-bar {
        width: 300px;
        height: 100px;
        overflow: scroll;
    }
</style>

<div class="jumbotron">
    <h1>Manage Synopsises</h1>
    <p class="lead">Create a new Synopsis, used to record the creators of reports. </p>
</div>

<div class="row">
    <!-- Left side. -->
    <div class="col-md-2">
        <ul id="links">
            <li><a href="@Url.Action("Index", "ManageBulkTemplate")">Manage Bulk Templates</a></li>
            <li><a href="@Url.Action("Index", "ManageSynopsis")">Manage Limiter Templates</a></li>
            <li><a href="@Url.Action("Index", "ManageTemplateItem")">Template Item</a></li>
            <li><a href="@Url.Action("Index", "ManageReport")">Manage Reports</a></li>
            <li><a href="@Url.Action("Index", "ManageGroup")">Manage Groups</a></li>
            <li><a href="@Url.Action("Index", "ManageUser")">Manage Users</a></li>
            <li><a href="@Url.Action("Index", "Home")">AdHoc Report</a></li>
        </ul>
    </div>

    <!-- Center. -->
    <div class="col-md-5">
        <div>
            <h2>Manage Limiter Item</h2>
            @using (Html.BeginForm("SubmitTemplate", "ManageSynopsis", FormMethod.Post)) {
                <form class="form-horizontal">
                    <!-- Template Name. -->
                    <div class="form-group">
                        <label class="control-label col-sm-6">Imp First Name: </label>
                        <div class="form-control-static col-sm-6">
                            @Html.TextBoxFor(syn => syn.ImplementerFirstName, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-6">Imp Last Name: </label>
                        <div class="form-control-static col-sm-6">
                            @Html.TextBoxFor(syn => syn.ImplementerLastName, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-6">Imp Telephone Num: </label>
                        <div class="form-control-static col-sm-6">
                            @Html.TextBoxFor(syn => syn.ImplementerTelephoneNum, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-6">Rec First Name: </label>
                        <div class="form-control-static col-sm-6">
                            @Html.TextBoxFor(syn => syn.RecommenderFirstName, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-6">Rec Last Name: </label>
                        <div class="form-control-static col-sm-6">
                            @Html.TextBoxFor(syn => syn.RecommenderLastName, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-6">Telephone Num: </label>
                        <div class="form-control-static col-sm-6">
                            @Html.TextBoxFor(syn => syn.ReccomenderTelephoneNum, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-6">Business Case: </label>
                        <div class="form-control-static col-sm-6">
                            @Html.TextAreaFor(syn => syn.BusinessCase, new { @class = "form-control" })
                        </div>
                    </div>

                    <button id="btnSubmit" type="submit" class="btn btn-primary" value="SubmitGroup">Submit</button>
                </form>
            }
        </div>
    </div>

    <!-- Right Side. -->
    <div class="col-md-5">
        <h2>Available Limiter Items</h2>
        <!-- Search Box Markup. -->
        <div class="form-group">
            <label class="control-label col-sm-2" for="txtLiSearch">Search:</label>
            <div class="col-sm-6">
                @Html.TextBox("txtLiSearch", null, new { @class = "form-control", @Value = (ViewBag.LiSearchStr != null ? ViewBag.LiSearchStr : "") })
            </div>
            <div class="col-sm-3 btn-group">
                <button type="button" class="btn btn-secondary form-control" onclick="ExecuteSearch(this)">Search</button>
            </div>
        </div>
        <button type="button" class="btn btn-secondary pull-right" onclick="location.href='@Url.Action("ClearSearch", "ManageSynopsis")'">Clear Search</button>
        <script type="text/javascript">
            function ExecuteSearch(sender){
                var value = $('#txtLiSearch').val();
                var url = '@Url.Action("ExecuteSearch", "ManageSynopsis")' + '\\?searchStr=' + value;
                window.location = url;
            }
            var availableTags = @using (SynopsisRepository repo = new SynopsisRepository()) {
                repo.BeginTransaction();
                List<String> synNames = repo.GetSynopsisNames();
                @(Html.Raw(Json.Encode(synNames)));
            };
            $('#txtLiSearch').autocomplete({
                source: availableTags
            });
        </script>
        <div id="tblSynopsis" class="height: 100px;overflow-y: scroll;">
            @if (ViewBag.SynopsisPage != null) {
                if (ViewBag.SynopsisPage.Count > 0) {
                    <table id="tblSynopsiss" class="table table-striped">
                        <tr>
                            <th>Template Name</th>
                            <th>Ordering</th>
                            <th>Remove</th>
                        </tr>
                        @foreach (Synopsis syn in ViewBag.SynopsisPage) {
                            <tr>
                                <td>@syn.ImplementerFirstName</td>
                                <td>@syn.ImplementerLastName</td>
                                <td>@syn.ImplementerTelephoneNum</td>
                                <td>@syn.RecommenderFirstName</td>
                                <td>@syn.RecommenderLastName</td>
                                <td>@syn.ReccomenderTelephoneNum</td>
                                <td>@syn.DateCreated</td>
                                <td>
                                    <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("RemoveSynopsis", "ManageSynopsis", new { templateId = syn.SynopsisId })'">Remove</button>
                                </td>
                            </tr>
                        }
                    </table>
                }
            }
        </div>
        <div class="btn-group pull-right">
            <button type="submit" class="btn btn-primary" onclick="location.href='@Url.Action("SynopsisFirstPage", "ManageSynopsis")'">Begin</button>
            <button type="submit" class="btn btn-primary" onclick="location.href='@Url.Action("SynopsisPreviousPage", "ManageSynopsis")'">Previous</button>
            <button type="submit" class="btn btn-primary" onclick="location.href='@Url.Action("SynopsisNextPage", "ManageSynopsis")'">Next</button>
            <button type="submit" class="btn btn-primary" onclick="location.href='@Url.Action("SynopsisLastPage", "ManageSynopsis")'">Next</button>
        </div>
    </div>

</div>
